* {
    box-sizing: border-box;
}

body {
    font-family: "roboto", serif, sans-serif;
    color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    margin:0;
    padding-left: 0;
}

.logo {
    margin-right: 63px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-container {
    border-bottom: solid 1px #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
}

img {
    display: block;
}

:root {
    --white-text: #FFFFFF;
}

:root {
    --grey-text: #757575;
}
:root {
    --background-color:#2F303A;
}

:root {
    --highlighted-text: #2196F3;
}

.link-decor {
    text-decoration: none;
}

.list-style {
    list-style: none;
}

.link-hover:hover,
.link-hover:focus {
    color: var(--highlighted-text);
}

.logo-name1 {
    color: var(--highlighted-text);
}

.logo-name2 {
    color: #000000;
}

.logo-name1,
.logo-name2,
.logo-name3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header-nav-contacts-style {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-item-margin {
    margin-right: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item-margin-last {
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-item-padding-last {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 50px;
}

.header-mail-tel {
    margin-left: auto;
}

.header-nav-style {
    color: #212121;
}

.header-nav-style-active {
    color: var(--highlighted-text);
}

.header-contacts-style {
    color: var(--grey-text);
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text);
    background-color: var(--background-color);
}

.hero-txt {
    padding: 200px 0px 280px;
}

.btn-order {
    min-width: 200px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;   
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text);
    margin-top: 30px;
    border-radius: 4px;
}

.h2-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-advantages {
    display: flex;
    margin: 94px 0px;
}

.our-works-list {
    display: flex;
    margin: 50px 0px 94px 0;
}

.advantages-items:not(:last-child) {
    margin-right: 30px;
}

.our-works-items:not(:last-child) {
    margin-right: 30px;
}

.competences-item {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}

.competences-details {
    font-size: 14px;
    line-height: 1.71;   
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

.section-titles {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-names {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
}

.team-roles {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-text);
    padding-bottom: 30px;
}

.logo-name3 {
    color: var(--white-text);
}

address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.address {
    color: var(--white-text);
}

.email-tel{
    color: rgba(255, 255, 255, 0.6);
}

footer {
    background-color: var(--background-color);
}

.our-team-title {
    padding-top: 94px;
    padding-bottom: 50px;
}

.out-team {
    background-color: #F5F4FA;
}

.our-team-list {
    display: flex;
}

.our-team-imgs-descriptions {
    background-color: #FFFFFF;
    margin-bottom: 94px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-imgs-descriptions:not(:last-child) {
    margin-right: 30px;
}

.our-team-imgs {
    padding-bottom: 30px;
}

.logo-footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 20px;
}

address {
    display: block;
}

.address-gaps:not(:last-child) {
    padding-bottom: 9px;
}

.address-gaps:last-child {
    display: block;
    padding-bottom: 60px;
}

/*------------------------------Страница портфолио-------------------------------------------*/

.pointer:hover {
    cursor: pointer;
    background-color: var(--highlighted-text);
    color: var(--white-text);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project-color {
    color: #212121;
}

.project-tepe-color {
    color: var(--grey-text);
}

.pointer-order:hover {
    background-color: #188CE8;
}

.pointer-order {
    background-color: var(--highlighted-text);
}

.btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: 0px;
    border-radius: 4px;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;    
    letter-spacing: 0.03em;
    color: var(--grey-text);
}

.portfolio-main {
    margin-top: 94px;
}

.portfolio-btns-container {
    margin-bottom: 50px;
}

.portfolio-btns {
    display: flex;
    justify-content: center;
}

.btn-text:not(last-child) {
    margin-right: 8px;
}

.portfolio-all-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-main-items {
    background-color: #FFFFFF;
    border: solid 1px #EEEEEE;
}

.portfolio-main-items:not(:nth-child(n+7)) {
    margin-bottom: 30px;
}

.portfolio-main-items:nth-child(n+7) {
    margin-bottom: 94px;
}

.portfolio-images-list {
    padding-bottom: 20px;
}

.portfolio-titles-list{
    padding-bottom: 4px;
}

.portfolio-type-list {
    padding-bottom: 20px;
}